/*ESTILOS GENERALES*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    margin: 0 auto;
    background-color: #fcfcfc;
}

section{
    display: grid;
        grid-template-columns: repeat(12, 1fr);
    height: 100vh;
    margin-bottom: 0.5em;
    padding: 1em;
}


a{   
    color: #50A05A;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    
}

.contenedor_tarjetas { 
    /*border: solid .5px rgba(155, 119, 76, 0.5);*/
    /*border-radius: 1em;*/
    /*background-color: #fcfdff79;*/
    grid-column: span 12;
}



.contenido_font{
    color: Rgb(68, 63, 63);
    font-size: 1.3em;
    font-weight: 350;
    font-family: "Roboto", sans-serif;
 }


 .header_font{
    color: rgb(155, 119, 76);
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-size: 2.5em;
    letter-spacing: 0.1em;
 }

 .contenedor_fila{
    display: flex;
        flex-direction: row;
 }

 /*BOTONES*/

.boton_ancla{  
    background-color: #50A05A;
    color: #F6F8FF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    padding: 1em;
    letter-spacing: 0.1em;
}


/*PRESENTACION - FECHA Y DRESSCODE EVENTO*/

#entrada{
    background-image: url(/Assets/fotoportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #F6F8FF;
}


#entrada::before{
    background-color: #1e212b44;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}


#titulo_entrada, #info_evento, .ver_mas{
    grid-column: span 12;
    z-index: 2;
}

#titulo_entrada{
    display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 3.5em;    
    text-align: center;
   
}

#titulo_principal{
    color: #F6F8FF;
    font-family: 'Plante', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}


#info_evento{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.info{
    color: #F8F4F2;
    letter-spacing: 0.1em;
}

#fecha{
    padding: 1em;
}

.separador {
    border-top: 0.1rem solid #F6F8FF;
    padding: 0.5em;
    width: 70%;
}

/*UBICACION Y CONFIRMAR ASISTENCIA*/



#contenedor_ubicacion {
    display: flex;
        flex-direction: column;
        justify-content: center;
}

#ubicacion_asistencia{
    background-image: url(/Assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ubicacion, #confirmar_asistencia{
    grid-column: span 12;
}

.header_ubi{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

/*DIRECCION Y GOOGLEMAPS*/

#ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#direccion{  
    display: flex;
        flex-direction: row;
}



.contenedor_fila > .contenido_font:nth-child(1) {
    border-right: solid 0.5px #0009;
    padding-right: 0.5em;
}

.contenedor_fila > .contenido_font:nth-child(2) {
    padding-left: 0.5em;
}

#google_maps{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    font-size: 1.5em;
}


#boton_maps{
    padding: 1em;
}


/*CONFIRMAR ASISTENCIA*/

#confirmar_asistencia{
    height: 30%;
}
#txt_confirmar_asistencia{
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    height: 50%;
}

#respuesta{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;  
    text-align: center;
    grid-column: span 6;
}

#respuesta > a{
    display: flex;
        justify-content: center;
        align-items: center;    
}


/*REGALO CBU*/
#regalo_cbu{
    background-image: url(/Assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#descripcion_cbu{  
    display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center; 
    text-align: center;       
    grid-column: span 12;
}

#descripcion_cbu > .texto_regalo{
    padding: 1em;
}

/*PLAYLIST_SPOTIFY*/

#playlist{
    background-image: url(/Assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#presentacion_playlist, #spotify{
    display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    grid-column: span 12;    
    padding: 1em;
}


#spotify > p{
    text-align: center;
    padding: 1em;
}

#contenedor_spotify{
    padding: 3em;
}


/*CARRUSEL*/
#carrusel{
    background-image: url(/Assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/*MEDIAQUERIS - AJUSTES DE RESOLUCION*/

@media(min-width: 620px){
    .header_font{
        font-size: 3em;
    }
      .contenido_font{
         font-size: 1.4em;
      }

    .boton_ancla{
        padding: 0.7em;
    }

    #titulo_entrada{
        font-size: 5em;
    }

    .separador{
        width: 40%;
    }


}

/*FUENTES*/
@font-face {
    font-family: 'Plante';
    src: url('/Assets/Fonts/plante/Plante.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}